<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" crossorigin="anonymous">
	{{!-- <link rel="stylesheet"type="text/html" href="/assets/style.css"> --}}
	<style>
	#brand-logo{font-size:34px}#app-navbar{background:linear-gradient(120deg,#00e4d0,#5983e8)}.card-body{background-color:#add8e6}.search-form{margin:40px 5px;font:400 12px sans-serif;box-shadow:1px 2px 4px 0 rgba(0,0,0,.08)}.search-form div.input-group-addon{background:#fff;color:#80A3BD;border-bottom-left-radius:2px;border-top-left-radius:2px;border:1px solid #b6c3cd;border-right:0}.search-form .input-group input{background-color:#fff;box-shadow:none;color:#4E565C;outline:0;border:1px solid #b6c3cd;border-right:0;border-left:0}.search-form div.input-group-btn button{border-bottom-right-radius:2px;border-top-right-radius:2px;background:#6caee0;box-shadow:1px 2px 4px 0 rgba(0,0,0,.08);color:#fff;border-color:#6caee0;outline:0;opacity:.9}.search-form div.input-group-btn button:hover{opacity:1}.search-form div.input-group-btn button:focus:active{background-color:#6caee0;color:#fff;outline:0}
	#app-navbar {
		background: linear-gradient(120deg, #00e4d0, #5983e8);
  	}
  

	</style>
</head>

<body>
    <!-- Start: gradient-navbar -->
    <nav class="navbar navbar-dark navbar-expand-md" id="app-navbar">
        <div class="container-fluid"><a class="navbar-brand" href="#"><i class="icon ion-ios-infinite" id="brand-logo"></i></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Create</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Search</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Playlist</a></li>
                </ul>
        </div>
        </div>
    </nav>
	<body>
		{{{ body }}}



	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="/assets/js/"></script>
	</body>
</html>
