 <div class="container" style="padding: 35px">
    <div class="card card-cascade wider" style="padding: 35px" id="card">

      <div class="card card-image">

        <h2 class="card-header-title mb-3">Quaran-tunes</h2>
        <form>
          <div class="form-group">
            <label for="playlistname">Enter the name of the playlist you would like to create</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <small id="playlistmake" class="form-text text-muted">Note: This will affect your Spotify account</small>
          </div>
          <div class="form-group">
            <label for="playlistdescription">Enter a short description of your playlist</label>
            <input type="text" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check if this playlist will be public</label>
          </div>
          <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
        </form>
        <p class="mb-0"><i class="fas fa-calendar mr-2"></i>26.07.2017</p>

      </div>
    </div>
  </div>