<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="navbar.css"/>
    <script src="navbar.js"></script>
</head>
<body>
  
    <form>
        <div class="form-group">
          <label for="playlistname">Enter the name of the playlist you would like to create</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <small id="playlistmake" class="form-text text-muted">Note: This will affect your Spotify account</small>
        </div>
        <div class="form-group">
            <label for="playlistdescription">Enter a short description of your playlist</label>
            <input type="text" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check if this playlist will be public</label>
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    
</body>
</html>
