

<table class="table table-hover table-fixed" id="playlist">

  <!--Table head-->
  <thead>
    <tr>
      
      <th>Title</th>
      <th>Artist</th>
      <th>Album</th>
      <th>Add Track</th>
      <th>Delete Track</th>
    </tr>
  </thead>

  <tbody>
    {{#each track}}
    <tr>

        <td>{{this}}</td>
    </tr>
    {{/each}}
  </tbody>

    

</table>


{{#each track}}
<p>{{this}}</p>
{{/each}}

