    <div class="card">
        <div class="card-body">
            <!-- Start: Pretty Search Form -->
            <form class="search-form">
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-search"></i></span></div><input class="form-control" type="text" placeholder="I am looking for..">
                    <div class="input-group-append"><button class="btn btn-light" type="button">Search </button></div>
                </div>
            </form>
            <!-- End: Pretty Search Form -->
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Track</th>
                            <th>Artist</th>
                            <th>Album</th>
                            <th>Add Track</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each search}}
                                <td>{{searchName}}</td>
                              <td>{{searchArtist}}</td>
                              <td>{{searchAlbum}}</td>
                              <td><button class="btn btn-primary pull-center" type="button"><i class="fa fa-star"></i>Add</button></td>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>