body {
    background: url("../assets/back.jpg") no-repeat, center;
    background-size: cover;
}

#card{
    background-color: lightblue;
}

.card-image{
    background-color: lightblue;
}

h2{
    font-family: 'Molle', cursive;
    text-align: center;
    color: white;
    text-shadow: black;
}

#brand-logo{font-size:34px}#app-navbar{background:linear-gradient(120deg,#00e4d0,#5983e8)}.card-body{background-color:#add8e6}.search-form{margin:40px 5px;font:400 12px sans-serif;box-shadow:1px 2px 4px 0 rgba(0,0,0,.08)}.search-form div.input-group-addon{background:#fff;color:#80A3BD;border-bottom-left-radius:2px;border-top-left-radius:2px;border:1px solid #b6c3cd;border-right:0}.search-form .input-group input{background-color:#fff;box-shadow:none;color:#4E565C;outline:0;border:1px solid #b6c3cd;border-right:0;border-left:0}.search-form div.input-group-btn button{border-bottom-right-radius:2px;border-top-right-radius:2px;background:#6caee0;box-shadow:1px 2px 4px 0 rgba(0,0,0,.08);color:#fff;border-color:#6caee0;outline:0;opacity:.9}.search-form div.input-group-btn button:hover{opacity:1}.search-form div.input-group-btn button:focus:active{background-color:#6caee0;color:#fff;outline:0}
#app-navbar {
    background: linear-gradient(120deg, #00e4d0, #5983e8);
  }
  
  